@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> Hakkımızda Veri Girişi Alanı</h4>
                        <p class="card-subtitle mb-4"></p>Ana sayfanın ve Hakkımızda sayfasının "hakkımızda" alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz.
                        Tema bütünlüğü bozulmaması adına lütfen sadece 1 tane veri girişi yapınız.Aksi durumlarda tema bütünlüğü bozulacaktır.
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık </label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="title" placeholder="Başlık Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama </label>
                                <textarea rows="5" asp-for="description" class="form-control" placeholder="Açıklamayı Giriniz">  </textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoimageUrl">Video Açıklama </label>
                                <input type="text" class="form-control" id="exampleInputVideoimageUrl" asp-for="imageUrl" class="form-control" placeholder="Hakkımda Kapak Fotoğraf Linkini Giriniz">
                            </div>
                          <button type="submit" class="btn btn-primary waves-effect waves-light">Hakkında Bilgisini Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






